nav {
    
    background: @nav-bg-color;
    

    h1 {
        color: @nav-txt-color
    }

    display: flex;
    flex-direction: column;
    padding: 20px;
    
    .navlinks {
        display: flex;
        flex-direction: column;
    }
}